footer {
  position: absolute;
  left: 50px;
  bottom: 50px;

  .flexContainer {
    display: flex;
  }

  .infoContent p {
    display: none;
  }
  .imageContainer {
    width: 30px;
    margin-right: 10px;
  }
}
