footer {
  position: absolute;
  left: 50px;
  bottom: 50px;

  .info {
    cursor: pointer;
  }

  // shows info about the game
  .infoContent {
    opacity: 0;
    padding: 10px;
    transition: all 0.3s linear;
    width: 30%;
    border: 0.5px dotted grey;

    p {
      padding: 10px;
    }

    // hides it
    &.active {
      opacity: inherit;
      margin-bottom: 20px;
    }
  }
  .imageContainer {
    width: 30px;
    margin-right: 10px;
  }
}
