/* this is the paws */
.paws {
  z-index: 2;
  position: absolute;
  right: 20vw;
  bottom: -150vw;
  /* this is the transition for paws */
  transform: none;
  /* Adding transition animation */
  // transition: all 1s linear;
}

.paws.active {
  /* brings up the paw */
  bottom: -50vw;
}
