/* this is the paws */
.paws {
  z-index: 2;
  // positions before transition
  position: absolute;
  right: 20vw;
  bottom: -150vw;
  /* transition animation */
  transform: none;
  transition: none;
}

.paws.active {
  /* brings up the paw */
  bottom: -50vw;
}
