/* this is the paws */
.paws {
  z-index: 2;
  position: absolute;
  right: 20vw;
  /* this is the transition for paws */
  transform: translate(0, 50vw);
  /* Adding transition animation */
  transition: all 1s linear;
}

.paws.active {
  /* making the transform none will revert the  */
  transform: none;
}
